

body{
    /* background-image: url('bg.jpg'); */
    background: linear-gradient(180deg, rgb(226, 232, 233), rgb(150, 202, 206));
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
